body {
    font-family: Arial, sans-serif;
}

h1{
    color: #333;
    text-align: center;
}

h4{
    color: #333;
    text-align: center;

}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

header {
    background-color: rgba(0, 128, 0, 0.707);
}

img {
    width: 100px;
}

button {
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
}